body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5deb3;
    background-image: url('/static/css/cardstock.avid');
    background-repeat: repeat; /* This tiles the image */
    background-size: auto; /* You can also use 'cover' or 'contain' depending on your needs */

}

.container {
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

.ascii-art pre {
    white-space: pre;
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 16px;
}

.info {
    font-family: monospace;
    font-size: 16px;
    text-align: right; 
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 5px 0; 
}

ul li::before {
    content: "*";
    margin-right: 5px;
}

a {
    text-decoration: none;
    color: #000; 
}

a:hover {
    background-color: #000;
    color: #fff;
    text-decoration: none;
}
