body{
max-width:50em;
line-height:1.6;
background-color:#f5deb3;
padding:0 10px;
margin-left:auto;
margin-right:auto;
} 

h1,h2,h3{
line-height:1.2
}

a:hover, a:hover > * {
background-color:#000;color:#fff;text-decoration:none
}

h1{
font-size: x-large}

h2{
font-size: large
}

a{ text-decoration:underline; color:#000}

ul{ list-style: "=>  "}

pre{
white-space: pre-wrap; font-family: serif; font-size:16px}

h1 {
    line-height: 1.2;
}

@media print {
    body {
        max-width: none;
    }
}

table tr td {
    line-height: 1.25em;
}

tt a {
    background: #ddddea;
    text-decoration: none;
    color: blue;
}

.container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.container > * {
    margin: 1em;
}
